<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>74595411274-v868gofhobqtnpg67p4iqs9l3kf2ib08.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.74595411274-v868gofhobqtnpg67p4iqs9l3kf2ib08</string>
	<key>API_KEY</key>
	<string>AIzaSyAINdC1QVTlZW2vTWYCRK_3YGc3JsUJ1uw</string>
	<key>GCM_SENDER_ID</key>
	<string>74595411274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.week7NetworkingDiscussion</string>
	<key>PROJECT_ID</key>
	<string>cmsc23-todo-app-lagarchitorena</string>
	<key>STORAGE_BUCKET</key>
	<string>cmsc23-todo-app-lagarchitorena.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74595411274:ios:5746ab3de087bb30590db3</string>
</dict>
</plist>